<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Prediction</title>
    <link rel="stylesheet" href="static/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="file:///C:/Users/chand/OneDrive/Desktop/Placement%20Luck/pla.html">Home</a></li>
            <li><a href="https://angry0batman.github.io/DSA-score-checker-/">DSA Score</a></li>
            <li><a href="#development_score">Development Score</a></li>
            <li><a href="#communication_score">Communication Skills</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Placement Prediction</h1>
        <form action="/predict" method="post">
            <label for="dsa_score">DSA Score:</label>
            <input type="number" id="dsa_score" name="dsa_score" min="0" max="100" value="{{ data.dsa_score if data }}" required>
            <br>
            <label for="resume_score">Resume Score:</label>
            <input type="number" id="resume_score" name="resume_score" min="0" max="100" value="{{ data.resume_score if data }}" required>
            <br>
            <label for="communication_score">Communication Score:</label>
            <input type="number" id="communication_score" name="communication_score" min="0" max="100" value="{{ data.communication_score if data }}" required>
            <br>
            <label for="development_score">Development Score:</label>
            <input type="number" id="development_score" name="development_score" min="0" max="100" value="{{ data.development_score if data }}" required>
            <br>
            <label for="college_tier">College Tier:</label>
            <select id="college_tier" name="college_tier" required>
                <option value="1" {% if data and data.college_tier == '1' %}selected{% endif %}>Tier 1</option>
                <option value="2" {% if data and data.college_tier == '2' %}selected{% endif %}>Tier 2</option>
                <option value="3" {% if data and data.college_tier == '3' %}selected{% endif %}>Tier 3</option>
            </select>
            <br>
            <button type="submit">Predict Placement</button>
        </form>


        {% if prediction_text %}
            <div id="result">
                <h2>{{ prediction_text }}</h2>
            </div>
        {% endif %}
    </div>
</body>
</html>
